---
import PracticedLanguages from '@/components/profile/PracticedLanguages.astro';
import LastProjects from '@/components/profile/LastProjects.astro';
import GitHubIcon from '@/components/icons/Github.astro';
import type { User } from '@/types/user';

interface Props {
  data: User;
}

const { data } = Astro.props;
---

<div class="grid grid-cols-1 gap-4 sm:grid-cols-4">
  <div
    class="col-span-1 overflow-x-hidden rounded-xl bg-slate-800/30 p-5 outline-2 outline-offset-2 outline-slate-800 sm:col-span-2 lg:col-span-1"
  >
    <div class="mb-5">
      <div class="flex items-start justify-between">
        <img src={data.image} alt={data?.name} class="size-32 rounded-lg" />
        <a
          href={`http://github.com/${data?.name}`}
          target="_blank"
          rel="noopener noreferrer"
          class={`inline-flex items-center rounded-lg border border-gray-500/60 bg-gray-500/30 px-2 py-1 text-xs font-medium text-gray-400`}
        >
          <GitHubIcon class="mr-1 size-4" />
          GitHub
        </a>
      </div>
      <div class="mt-2">
        <p class="text-lg font-bold text-slate-300">{data?.name}</p>
        <p class="text-sm font-medium text-slate-500">@{data?.name}</p>
      </div>
    </div>
    <div class="space-y-5">
      <div class="flex items-center gap-x-4 text-sm">
        <p class="flex gap-x-1 font-bold text-slate-300">
          {data.follows.length}
          <span class="font-medium text-slate-500">Siguiendo</span>
        </p>
        <p class="flex gap-x-1 font-bold text-slate-300">
          {data.followers.length}
          <span class="font-medium text-slate-500">Seguidores</span>
        </p>
      </div>
    </div>
  </div>
  <LastProjects meta={data?.meta} />
  <PracticedLanguages usedLanguages={data?.usedLanguages} />
</div>
