---
import MainLayout from '@/layouts/MainLayout.astro';
import Section from '@/components/Section.astro';
import ProfileCard from '@/sections/profile/ProfileCard.astro';
const SITE_URL = import.meta.env.PUBLIC_API_URL || 'http://localhost:4321';

const response = await fetch(`${SITE_URL}/api/user/profile`, {
  credentials: 'include',
  headers: {
    Cookie: Astro.request.headers.get('Cookie') || '',
  },
});

let data = null;
let error = null;

if (!response.ok) {
  error = `Error: ${response.status} - ${response.statusText}`;
} else {
  data = await response.json();
}
---

<MainLayout title="retosdev">
  <Section>
    {error ? <p class="text-red-500">{error}</p> : <ProfileCard data={data} />}
  </Section>
</MainLayout>
