---
import Section from '@/components/Section.astro';
import MainLayout from './MainLayout.astro';
import ArrowLeft from '@/components/icons/ArrowLeft.astro';
import Tag from '@/components/icons/Tag.astro';
import Calendar from '@/components/icons/Calendar.astro';
import '../styles/markdown.css';
import Edit from '@/components/icons/Edit.astro';

interface Props {
  frontmatter: {
    title: string;
    topic: string;
    description: string;
    publishDate: Date;
    tags: string[];
  };
  postId: string;
}

const { frontmatter, postId } = Astro.props;
const formattedDate: string = frontmatter.publishDate.toLocaleDateString('es-ES', {
  day: 'numeric',
  month: 'long',
  year: 'numeric',
});
---

<MainLayout title={frontmatter.title}>
  <Section>
    <div class="space-y-2">
      <h1 class="text-4xl font-bold text-white">{frontmatter.title}</h1>
      <p class="font-medium text-slate-500">{frontmatter.description}</p>
      <div class="flex gap-x-2">
        {
          frontmatter.tags.map(tag => (
            <span class="inline-flex items-center rounded-lg border border-slate-800 bg-slate-800/30 px-2 py-1 text-xs font-medium text-slate-500">
              <Tag class="mr-1 size-4" />
              {tag}
            </span>
          ))
        }
        <span
          class="inline-flex items-center rounded-lg border border-slate-800 bg-slate-800/30 px-2 py-1 text-xs font-medium text-slate-500"
        >
          <Calendar class="mr-1 size-4" />
          {formattedDate}
        </span>
      </div>
    </div>
  </Section>
  <article class="article-content mx-auto mt-5 max-w-7xl px-5">
    <slot />
  </article>
  <div class="mx-auto mt-5 flex max-w-7xl justify-between px-5 pb-5">
    <a
      href="/blog"
      class="inline-flex min-h-[50px] items-center justify-center rounded-2xl border border-slate-800 bg-slate-800/30 px-4 py-2 text-white transition-colors duration-300 hover:bg-slate-800/60"
    >
      <ArrowLeft class="mr-2 size-5" />
      <span> Volver</span></a
    >
    <a
      href={`https://github.com/zevwin/retosdev/blob/main/src/content/blog/${postId}`}
      target="_blank"
      rel="noopener noreferrer"
      class="inline-flex min-h-[50px] items-center justify-center rounded-2xl border border-slate-800 bg-slate-800/30 px-4 py-2 text-white transition-colors duration-300 hover:bg-slate-800/60"
    >
      <Edit class="mr-2 size-5" />
      <span> Editar</span></a
    >
  </div>
</MainLayout>
